name: build scrinvex sif

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Singularity
        run: |
          sudo apt-get update
          sudo apt-get install -y singularity-container

      - name: Pull scrinvex
        run: |
          singularity pull scrinvex.sif docker://us-docker.pkg.dev/broad-cga-aarong-gtex/scrinvex

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: scrinvex-sif
          path: scrinvex.sif
